<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{{#title}}{{title}} - {{/title}}FishEye Cafe</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/underscore.js"></script>
	<script type="text/javascript" src="/javascripts/backbone.js"></script>
	<script type="text/javascript" src="/javascripts/models.js"></script>
	{{#session}}<script type="text/javascript">
	        var session = {
	            email: '{{email}}'
	            {{#roles}},roles: {
	                manager: {{manager}},
	                employee: {{employee}},
	                visitor: {{visitor}}
	            }{{/roles}}
	        }
	</script>{{/session}}
	<script type="text/javascript">
	    $().ready(function() {
    	    $('#logout').click(function(event) {
    	        event.preventDefault();
    	        var form = $('<form action="/logout" method="post"></form>');
    	        $(document.body).append(form);
    	        form.submit();
    	    });
	    });
	</script>
	<script type="text/javascript">
	    var exampleData = {
	        title: 'Menu', // optional
	        user: { // optional, only when logged in
	            email: 'catchen@catchen.me',
	            roles: { // optional, only when user has roles
	                manager: true, // optional, only when user has this role
	                employee: true, // optional, only when user has this role
	                visitor: true // optional, only when user has this role
	            }
	        }
	    }
	</script>
	<style type="text/css">
	</style>
</head>
<body>
    <nav>
        <ul>
        	{{#session}}
                {{#roles}}
                    {{#manager}}
                        <li><a href='/users/'>manage user</a></li>
                    {{/manager}}
                    {{#employee}}
                        <li><a href='/updatepassword'>update password</a></li>
                    {{/employee}}
                {{/roles}}
                <li>
                    <a id="logout" href='?'>
                        {{#roles}}
                            {{#visitor}}
                                goodbye
                            {{/visitor}}
                            {{^visitor}}
                                logout
                            {{/visitor}}
                        {{/roles}}
                        {{^roles}}
                            logout
                        {{/roles}}
                    </a>
                </li>
        	{{/session}}
        	{{^session}}
                <li><a href='/login'>employee login</a></li>
        	{{/session}}
        </ul>
    </nav>
    {{{yield}}}
</body>
</html>