<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{{#title}}{{title}} - {{/title}}FishEye Cafe</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
	<script type="text/javascript">
	    $().ready(function() {
    	    $('#logout').click(function(event) {
    	        event.preventDefault();
    	        var form = $('<form action="/logout" method="post"></form>');
    	        $(document.body).append(form);
    	        form.submit();
    	    });
	    });
	</script>
	<script type="text/javascript">
	    var exampleData = {
	        title: 'Menu', // optional
	        user: { // optional, only when logged in
	            email: 'catchen@catchen.me',
	            roles: { // optional, only when user has roles
	                manager: true, // optional, only when user has this role
	                employee: true, // optional, only when user has this role
	                visitor: true // optional, only when user has this role
	            }
	        },
	        content: { // optional, only if non-root content is selected
	            users: {}, // optional, only if users is selected
	            roles: {}, // optional, only if roles is selected
	            products: {}, // optional, only if products is selected
	            orders: {}, // optional, only if orders is selected
	            login: {}, // optional, only if login is selected
	            updatepassword: {}, // optional, only if updatepassword is selected
	            createuser: {} // optional, only if createuser is selected
	        }
	    }
	</script>
	<style type="text/css">
	</style>
</head>
<body>
	{{#user}}
	    <div>
	        <nav>
	            <ul>
	                {{#roles}}
	                    {{#manager}}
	                        <li><a href='/createuser'>Create User</a></li>
	                    {{/manager}}
	                    {{#employee}}
	                        <li><a href='/updatepassword'>Update Password</a></li>
	                    {{/employee}}
	                {{/roles}}
                    <li>
                        <a id="logout" href='?'>
                            {{#roles}}
                                {{#visitor}}
                                    Goodbye
                                {{/visitor}}
                                {{^visitor}}
                                    Logout
                                {{/visitor}}
                            {{/roles}}
                            {{^roles}}
                                Logout
                            {{/roles}}
                        </a>
                    </li>
	            </ul>
	        </nav>
	        <div>
	            <!-- main content -->
	            {{#content}}
	                {{#users}}
	                    {{>users}}
	                {{/users}}
	                {{#roles}}
	                    {{>roles}}
	                {{/roles}}
	                {{#products}}
	                    {{>products}}
	                {{/products}}
	                {{#orders}}
	                    {{>orders}}
	                {{/orders}}
	                {{#login}}
                        {{>login}}
	                {{/login}}
	                {{#updatepassword}}
	                    {{>updatepassword}}
	                {{/updatepassword}}
	                {{#createuser}}
	                    {{>createuser}}
	                {{/createuser}}
	            {{/content}}
	            {{^content}}
	                <!-- root path -->
	            {{/content}}
	        </div>
	    </div>
	{{/user}}
	{{^user}}
	    <div>
	        <nav>
	            <ul>
	                <li><a href='/login'>Employee Login</a></li>
	            </ul>
	        </nav>
	        <div>
	            <!-- Seat map -->
	        </div>
	    </div>
	{{/user}}
</body>
</html>